body {
    background-image: url('images/tour1.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    color: #fff;
} 
.container img {
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
    width: 98px;
    height: 88px;
    margin-top: 8px;
}
.nav.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav{
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
   justify-content: space-between;
   display: flex;
  align-items: center;
  font-weight: bold;
  background-color: white;
}
.Home a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 16px; 
    transition: color 0.3s, text-decoration 0.3s, background 0.3s; 
}
.Home a:hover {
    color: #f51606;
    text-decoration: none;
    transform: translateY(-14px);
    transition: 0.5s ease;
    border-radius: 20px;  
}.Home{
    display: flex;
    gap: 10px;
    align-items: center; 
    color: #131212;
    font-size: 25px;
    font-family: sans-serif;
    transition: color 0.3s ease;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.main{
    display: flex;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    margin: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
}
.btn2{
    margin-top: 30px;
    font-size: 30px;
    gap: 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(216, 18, 11);
}

